@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?weather');
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-bar{
    border: none;
    outline: none;
    padding: 0.5em 20px;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
}

.search button{
    height: 45px;
    width: 45px;
    border: none;
    margin: .5em;
    border-radius: 50%;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search button{
    background: #7c7c7c6b;

}

.weather{
    margin-left: 20px;
}

.flex{
    display: flex;
    align-items: center;
}

h1.temp{
    margin: 0;
    margin-bottom: 10px;
}

.description{
    text-transform: capitalize;
}

.weather.loading, .weather.no_data{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after, .weather.no_data:after{
    visibility: visible;
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}

.weather.loading:after{
    content: 'Loading...';
} 
.weather.no_data:after{
    content: 'Data Unavailable.';
}